<div class="list row">
    
    <div class="col-md-6">
      <h4>Categories List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let category of categories; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveCategory(category, i)"
        >
          {{ category.categoryName }}
        </li>
      </ul>
  
      
    </div>
    <div class="col-md-6">
      <div *ngIf="currentCategory">
        <h4>Category</h4>
        <div>
            <label><strong>Category ID:</strong></label> {{ currentCategory.categoryID }}
          </div>
        <div>
          <label><strong>Category Name:</strong></label> {{ currentCategory.categoryName }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentCategory.description }}
        </div>
        
        <!-- <a class="btn btn-success" routerLink="/categories/{{ currentCategory.categoryID }}">
          Edit
        </a> -->
        
      </div>
  
      <div *ngIf="!currentCategory">
        <br />
        <p>Please click on a Category...</p>
      </div>
    </div>
  </div>